* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, #16164b , #352d96);
  }
  .container {
    border: 3px solid #ded;
    padding:  2%;
    border-radius: 14px;
  }
  #main-heading{
      color: #ffe;
      font-family: serif;
      font-size: 3rem;
      text-align: center;
  }
  ul{
      list-style-type: none;
  }
  .list-items{
      text-align: center;padding: 2%;
      color: #16164b;
      font-size: 1.4rem;
      background-color: #ffe;
      margin-bottom: .2%;
  }
  
  
